body {
  background: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10rem;
}

p {
  line-height: 1.5;
}

.what-a-waste {
  position: relative;
}

.mountains {
  background: url("./mountains.svg") no-repeat;
  background-size: contain;
  width: 120%;
  height: 200px;
  position: absolute;
  top: -180px;
  left: -100px;
  z-index: -1;
}

.max-width {
  max-width: 80rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.cols-2 {
  justify-content: space-between;
}

.flex-align-end {
  align-self: flex-end;
}

.cols-2 > div {
  flex: 0 1 calc(50% - 1rem);
}

.center {
  text-align: center;
}
.section-title {
  color: darkslateblue;
}

.subtitle {
  color: #474747;
}

.padding-bottom {
  padding-bottom: 12rem;
}

.filter-container {
  margin-top: 3rem;
  align-items: center;
}

.filter-button {
  background: #d3e1ed;
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 13px;
  color: #434a52;
  cursor: pointer;
  margin-right: 0.5rem;
  border-bottom: 2px solid #d3e1ed;
  transition: all 0.2s ease-in-out;
}

.filter-button:hover {
  border-bottom: 2px solid #8fa9c7;
}

.filter-button.active {
  background: none;
  border-bottom: 2px solid #8fa9c7;
  font-weight: 700;
}

.legends {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-bottom: 2rem;
}

.legend {
  display: inline-flex;
  margin: 0.25rem;
  align-items: center;
}

.legend > span:first-child {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.chart {
  max-width: 30rem;
  margin: 0 auto;
}

.alabama-section {
  margin-top: 5rem;
}
